Ianytree
appdirs
asyncio
attrdict
beautifulsoup4
feedparser
flask
gunicorn
lk21
lxml
pillow
psycopg2-binary
pybase64
python-magic
telegraph
tenacity
tgCrypto
yt-dlp
cryptg==0.2.post2
psutil==5.8.0
aria2p
bencoding
cfscrape
Telethon
TgCrypto==1.2.3
urllib3==1.26.5
Pyrogram
speedtest-cli
python-dotenv
requests
megasdkrestclient
qbittorrent-api
urllib3
https://github.com/Ripeey/Conversation-Pyrogram/archive/refs/heads/main.zip
